ul{
    list-style-type:circle;
}




ul{
    background-color: rgb(105, 105, 175);
    padding: 20px;
}


ul li{
    background-color: brown;
    padding: 20px;
}

ul li span{
    padding: 20px;
    background-color: orange;
    margin: 20px;
}


ul li span:hover{
    background-color: rgb(128, 104, 60);
}

